*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to top right, #859BC7,#3B5797 );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.blur1{
    color: #fff;
    font-weight: 200;
    text-align: center;
    padding: 2rem;
    line-height: 23px;
}

.blur{
    font-weight: 500;
    text-decoration:underline rgb(230, 230, 230);
}

.parts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.bear{
    border: 1px solid black;
    border-radius: 4rem;
    height: 40rem;
    width: 35rem;
}

.menu{
    position: relative;
    bottom: 100px;
    left: 80px;
    display: flex;
    flex-direction: row;
    background: white;
    width: fit-content;
    padding: 1.5rem 3rem;
    border: 1px solid black;
    border-radius: 4rem;
    gap: 7rem;
}

.menu1, .menu2{
    display: flex;
    gap: 3rem;
}

.heart{
    background: white;
    border: 1px solid black;
    width: fit-content;
    border-radius: 50%;
    padding: .8rem;
    position: relative;
    bottom: 38rem;
    left: 30rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all .4s ease;
}

.bunny{
    width: 7rem;
    border-radius: 50%;
    border: 1px solid black;
}

.welcome1{
    display: flex;
    background: white;
    flex-direction: row;
    border: 1px solid black;
    padding: 2rem 2rem;
    border-radius: 4rem;
    gap: 1rem;
}

.thin-text{
    font-weight: 100;
    font-size: 20px;
}

.name{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: .06rem;
}

.insta-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.insta-icon p{
    font-weight: 700;
}

.custom{
    width: 10px;
    margin-right: 30px;
}

.recent{
    font-weight: 100;
}

.insta{
    background: #fff;
    border: 1px solid black;
    position: relative;
    bottom: 12.3rem;
    left: 24rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: fit-content;
}

.insta1{
    width: 2.5rem;
    height: 2.5rem;
}

.two{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
}

.two1, .two2{
    background: #fff;
    border: .9px solid black;
    border-radius: 4rem;
    padding: 1.3rem;
    width: 10em;
    text-align: center;
}

.bold{
    font-weight: 700;
}

.liked-container{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.liked{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid black;
    width: fit-content;
    padding: 1.2rem 3.2rem;
    border-radius: 2rem;
    gap: 1rem;
}

.liked img{
    width: 4rem;
    border-radius: 50%;
}

.liked-icon1{
    color: #3498db;
}

.part-two{
    padding-bottom: 15rem;
}